baseURL = 'https://m0nkeyc0de.github.io/'
languageCode = 'fr-ch'
title = 'Brain Dump'
theme = 'smol'
copyright = "Enjoy !"

[params]
  subtitle = 'Notes for my future self.'

# Header
[menu]
  [[menu.main]]
        identifier = "posts"
        name = "Posts"
        url = "/posts/"
        weight = 1 

  [[menu.main]]
        identifier = "categories"
        name = "Categories"
        url = "/categories/"
        weight = 2 

  [[menu.main]]
        identifier = "tags"
        name = "Tags"
        url = "/tags/"
        weight = 3

# Footer
  [[menu.footer]]
        name = "Github"
        url = "https://github.com/m0nkeyc0de"
        weight = 1 